<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Current"
			 value="Test3"/>
		<add key="Test1"
			 value="C:\Users\Anthony\Desktop\Project\AdventOfCode\Day1\Day1\Test.txt"/>
		<add key="Test2" 
			 value="C:\Users\Anthony\Desktop\Project\AdventOfCode\Day1\Day1\Test2.txt"/>
		<add key="Test3"
			 value="C:\Users\Anthony\Desktop\Project\AdventOfCode\Day1\Day1\Test3.txt"/>
		
	</appSettings>
</configuration>